# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/src/qt/test/test_mutx-qt
**/*.Po
/src/qt/mutx-qt
/src/.deps/libbitcoin_common_a-accumulatormap.Po
/src/.deps/libbitcoin_common_a-accumulators.Po
/src/.deps/libbitcoin_common_a-base58.Po
/src/.deps/libbitcoin_common_a-bip38.Po
/src/.deps/libbitcoin_common_a-chainparams.Po
/src/.deps/libbitcoin_common_a-coins.Po
/src/.deps/libbitcoin_common_a-compressor.Po
/src/.deps/libbitcoin_common_a-core_read.Po
/src/.deps/libbitcoin_common_a-core_write.Po
/src/.deps/libbitcoin_common_a-hash.Po
/src/.deps/libbitcoin_common_a-key.Po
/src/.deps/libbitcoin_common_a-keystore.Po
/src/.deps/libbitcoin_common_a-netbase.Po
/src/.deps/libbitcoin_common_a-protocol.Po
/src/.deps/libbitcoin_common_a-pubkey.Po
/src/.deps/libbitcoin_common_a-spork.Po
/src/.deps/libbitcoin_common_a-sporkdb.Po
/src/.deps/libbitcoin_server_a-addrman.Po
/src/.deps/libbitcoin_server_a-alert.Po
/src/.deps/libbitcoin_server_a-bloom.Po
/src/.deps/libbitcoin_server_a-chain.Po
/src/.deps/libbitcoin_server_a-checkpoints.Po
/src/.deps/libbitcoin_server_a-init.Po
/src/.deps/libbitcoin_server_a-main.Po
/src/.deps/libbitcoin_server_a-merkleblock.Po
/src/.deps/libbitcoin_server_a-miner.Po
/src/.deps/libbitcoin_server_a-net.Po
/src/.deps/libbitcoin_server_a-pow.Po
/src/.deps/libbitcoin_server_a-rest.Po
/src/.deps/libbitcoin_server_a-rpcblockchain.Po
/src/.deps/libbitcoin_server_a-rpcmasternode-budget.Po
/src/.deps/libbitcoin_server_a-rpcmasternode.Po
/src/.deps/libbitcoin_server_a-rpcmining.Po
/src/.deps/libbitcoin_server_a-rpcmisc.Po
/src/.deps/libbitcoin_server_a-rpcnet.Po
/src/.deps/libbitcoin_server_a-rpcrawtransaction.Po
/src/.deps/libbitcoin_server_a-rpcserver.Po
/src/.deps/libbitcoin_server_a-sporkdb.Po
/src/.deps/libbitcoin_server_a-torcontrol.Po
/src/.deps/libbitcoin_server_a-txdb.Po
/src/.deps/libbitcoin_server_a-txmempool.Po
/src/.deps/libbitcoin_util_a-utilmoneystr.Po
/src/.deps/libbitcoin_wallet_a-activemasternode.Po
/src/.deps/libbitcoin_wallet_a-bip38.Po
/src/.deps/libbitcoin_wallet_a-crypter.Po
/src/.deps/libbitcoin_wallet_a-db.Po
/src/.deps/libbitcoin_wallet_a-kernel.Po
/src/.deps/libbitcoin_wallet_a-masternode-budget.Po
/src/.deps/libbitcoin_wallet_a-masternode-payments.Po
/src/.deps/libbitcoin_wallet_a-masternode-sync.Po
/src/.deps/libbitcoin_wallet_a-masternode.Po
/src/.deps/libbitcoin_wallet_a-masternodeconfig.Po
/src/.deps/libbitcoin_wallet_a-masternodeman.Po
/src/.deps/libbitcoin_wallet_a-obfuscation-relay.Po
/src/.deps/libbitcoin_wallet_a-obfuscation.Po
/src/.deps/libbitcoin_wallet_a-rpcdump.Po
/src/.deps/libbitcoin_wallet_a-rpcwallet.Po
/src/.deps/libbitcoin_wallet_a-swifttx.Po
/src/.deps/libbitcoin_wallet_a-wallet_ismine.Po
/src/.deps/libbitcoin_wallet_a-wallet.Po
/src/.deps/libbitcoin_wallet_a-walletdb.Po
/src/.deps/mutx_tx-mutx-tx.Po
/src/.deps/mutxd-mutxd.Po
/src/mutx-cli
/src/mutxd
/src/test/test_mutx
